#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}
#tab-1-content.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}
#tab-1-content.hide {
  display: none;
}
