/* Tabs */
.tabs {
  background: var(--dark-color);
  padding-top: 0 1rem;
  border-bottom: 3px solid #3d3d3d;
  border-right: none;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .icon {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.tabs .container > div {
  padding: 0.5rem 0 0.5rem;
}

.tabs .container > div:hover {
  color: #fff;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}

/* #tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
} */

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff;
}
